body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFE4E1;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: linear-gradient(to right, #FF69B4, #FFB6C1);
    padding: 20px;
}

header h1 {
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #500d52;
    background-color: #fbfaf87a;
    padding: 10px;
}
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
}
.image {
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.salon{
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    object-fit: cover;
}
button {
    background-color: #FF69B4;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #FF1493;
}
footer {
    background-color: #FFB6C1;
    padding: 10px;
    margin-top: 30px;
}
